<html>
    <head>
        <title>Godot 3.0, When?</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <div id="box">
            <div class="header"><img class="gobot center-horizontal" src="/static/{{mood}}.png"></img>{{title}}</div>
            <div class="content">Every <span class="tag">1 day</span>, on average <span class="tag tag-green">{{open_issues}} issues</span> are opened and <span class="tag tag-red">{{closed_issues}} issues</span> are closed. So it might take <span class="tag">{{days}} days</span> for the milestone to be closed.</div>
            <div class="release-date">
                <span class="tiny-header">Godot 3 released on:</span>
                <span class="date">{{date}}</span>
            </div>
        </div>
    </body>
</html>
